@using Therasim.Application.Personas.Queries.GetPersonas
@using Therasim.Application.Problems.Queries.GetProblems
@using Therasim.Application.Skills.Queries.GetSkills
@using Therasim.Domain.Enums
<h3>Create Simulation</h3>
<EditForm Model="@CreateSimulationModel" OnValidSubmit="@HandleValidSubmitAsync" FormName="create_simulation_form" novalidate>
    <DataAnnotationsValidator />
    <FluentValidationSummary />
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentSelect TOption="PersonaDto"
                      Placeholder="Select persona..."
                      Items="@_personas"
                      Id="personas"
                      Required
                      OptionValue="@(p => p.Id.ToString())"
                      OptionText="@(p => p.Name)"
                      @bind-Value="@CreateSimulationModel.PersonaId" />
        <FluentSelect TOption="ProblemDto"
                      Placeholder="Select condition..."
                      Items="@_psychProblems"
                      Id="problems"
                      OptionValue="@(p => p.Id.ToString())"
                      OptionText="@(p => p.Name)"
                      @bind-Value="@CreateSimulationModel.ProblemId" />
        <FluentSelect TOption="SkillDto"
                      Placeholder="Select skill..."
                      Items="@_skills"
                      Id="skills"
                      OptionValue="@(p => p.Id.ToString())"
                      OptionText="@(p => p.Name)"
                      @bind-Value="@CreateSimulationModel.SkillId" />
        <FluentSelect TOption="FeedbackType" Placeholder="Select feedback..." @bind-Value=@CreateSimulationModel.FeedbackType>
            @foreach (FeedbackType feedbackType in Enum.GetValues<FeedbackType>())
            {
                <FluentOption Value=@(((int)feedbackType).ToString()) Selected=@(((int)feedbackType).ToString() == CreateSimulationModel.FeedbackType)>@feedbackType.ToString()</FluentOption>
            }
        </FluentSelect>
        <FluentSelect TOption="Language" Placeholder="Select language..." @bind-Value=@CreateSimulationModel.Language>
            @foreach (Language language in Enum.GetValues<Language>())
            {
                <FluentOption Value=@(((int)language).ToString()) Selected=@(((int)language).ToString() == CreateSimulationModel.Language)>@language.ToString()</FluentOption>
            }
        </FluentSelect>
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.Add())">Create</FluentButton>
    </FluentStack>
</EditForm>