<h3 style="margin-top: 20px;">Simulations</h3>
<FluentDataGrid Items="@Simulations" style="width: 100%">
    <PropertyColumn Property="@(p => p.Persona)" Width="300px"/>
    <PropertyColumn Title="Feedback" Property="@(p => p.FeedbackType)" />
    <PropertyColumn Property="@(p => p.Language)" />
    <TemplateColumn>
        @if(context.ActiveSessionId.HasValue)
        {
            <FluentButton @onclick="@(() => ContinueSimulation(context))" IconStart="@(new Icons.Regular.Size16.ChatMultiple())">Continue</FluentButton>
        }
        else
        {
            <FluentButton @onclick="@(() => StartSimulation(context))" IconStart="@(new Icons.Regular.Size16.ChatMultiple())">Start</FluentButton>
        }
        <FluentButton Color="red" IconStart="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => DeleteSimulation(context))">Delete</FluentButton>
    </TemplateColumn>
</FluentDataGrid>