<h3 style="margin-top: 20px;">Simulations</h3>
<FluentDataGrid Items="@Assessments" style="width: 100%">
    <PropertyColumn Property="@(p => p.Persona)" Width="300px"/>
    <PropertyColumn Property="@(p => p.Skill)" />
    <PropertyColumn Property="@(p => p.Language)" />
    <TemplateColumn>
        @if(!context.Started)
        {
            <FluentButton @onclick="@(() => StartAssessment(context))" IconStart="@(new Icons.Regular.Size16.ChatMultiple())">Start</FluentButton>
        }
        else
        {
            <FluentButton @onclick="@(() => ContinueAssessment(context))" IconStart="@(new Icons.Regular.Size16.ChatMultiple())">Continue</FluentButton>
        }
        @if(context.Completed)
        {
            <FluentButton @onclick="@(() => ViewFeedback(context))" IconStart="@(new Icons.Regular.Size16.ChatMultiple())">Results</FluentButton>
        }
    </TemplateColumn>
</FluentDataGrid>