<FluentCard MinimalStyle="true">
    <FluentLabel Typo="Typography.H3">@AssessmentTask.Name</FluentLabel>
    <p>@AssessmentTask.Description</p>
    <FluentLabel Typo="Typography.H4">Client Persona</FluentLabel>
    <p>@AssessmentTask.ClientPersona</p>
    <FluentLabel Typo="Typography.H4">Scenario</FluentLabel>
    <p>@AssessmentTask.Scenario</p>
    <FluentLabel Typo="Typography.H4">Challenge</FluentLabel>
    <p>@AssessmentTask.Challenge</p>
    <FluentLabel Typo="Typography.H4">Skills</FluentLabel>
    <p>@AssessmentTask.Skills</p>
</FluentCard>